.homeh1 { 
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 75px;
    color: black;
}

.ulmain {
    text-align: left;
    font-family: "Times New Roman", sans-serif;
    font-size: 25px;
}

.oath1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 50px;
    color: black;
}

.h2 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 25px;
}

.photoby {
    font-size: 12px;
}

p {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

h3 {
    font-family: "Times New Roman", sans-serif;
    font-size: 25px;
}

.recipecredit {
    text-align: center;
}

ul {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

ol {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

body {
    background-color: bisque;
}